  <div class="column">
    <h2 class="column-header">Guards</h2>
    <% 9.times do |_| %>
      <%= render partial: 'woman_athlete', collection: @athletes.where(position: "Guard") %>
    <% end %>
  </div>

  <div class="column">
    <h2 class="column-header">Forwards</h2>
    <% 9.times do |_| %>
      <%= render partial: 'woman_athlete', collection: @athletes.where(position: "Forward") %>
    <% end %>
  </div>

  <div class="column">
    <h2 class="column-header">Centers</h2>
    <% 9.times do |_| %>
      <%= render partial: 'woman_athlete', collection: @athletes.where(position: "Center") %>
    <% end %>
  </div>
