<main class="sports grid">

  <header class="filter-header">
    <ul class="left-filter">
      <li><%= link_to 'Centers', mens_basketball_path(position: 'Center'), class: "filter-link" %></li>
      <li><%= link_to 'Forwards', mens_basketball_path(position: 'Forward'), class: "filter-link" %></li>
      <li><%= link_to 'Guards', mens_basketball_path(position: 'Guard'), class: "filter-link" %></li>
    </ul>
  </header>
  
  <%= render partial: 'athlete', collection: @athletes %>

</main>