<main>
  <div class="slider">
    <div><%= image_tag 'featured/womens_basketball/img_featured_women' %></div>
    <div><%= image_tag 'featured/womens_basketball/img_featured_women' %></div>
  </div>
</main>
