<main class="grid">
  <header class="filter-header">
    <%= link_to 'All', womens_basketball_path, class: "filter-link" %>
    <%= link_to 'Available', womens_basketball_path(available: true), class: "filter-link" %>
    <%= link_to 'Unavailable', womens_basketball_path(available: false), class: "filter-link" %>
  </header>
  <% 9.times do |_| %>
    <%= render partial: 'athlete', collection: @athletes %>
  <% end %>
</main>