<main class="grid">
  <header class="filter-header">
    <ul class="right-filter">
      <li><%= link_to 'Available', womens_basketball_overseas_path(available: true), class: "filter-link" %></li>
      <li><%= link_to 'Unavailable', womens_basketball_overseas_path(unavailable: true), class: "filter-link" %></li>
    </ul>
  </header>

  <%= render partial: 'womens_basketball' %>
</main>
