<main class="what-we-do">
  <h1>CAREER DEVELOPMENT</h1>

  <p>Professional basketball players have a limited timeframe with which they can compete at the highest levels and earn a commensurate salary. Sports International Group supports our players in preparing for life after basketball, having hired Australian career development and transition expert Sam Wloszczowski to assist with this process.</p>

  <h2>You Will:</h2>
  <ul>
    <li>Be provided with opportunities to maximize your networking opportunities</li>
    <li>Have your off-court business interests supported</li>
    <li>Have your off-court charitable interests supported, including whereby players wish to begin a foundation of their own</li>
    <li>Be linked with mentors in fields of interest</li>
    <li>Be supported with your transition into life after basketball</li>
    <li>Be supported with coaching, training, broadcasting opportunities after competing</li>
    <li>Be able to work through a process to determine areas of interest beyond basketball</li>
    <li>Be supported with off-court partnership opportunities in areas of interest</li>
  </ul>

  <h3 id="slogan">Taking you to the next level...</h3>
</main>
