<main class="what-we-do">    
  <h1>NBA DRAFT PREPARATION</h1>
  
  <p>For an NBA prospect, the moment you sign with Sports International Group signals the beginning of your preparation phase. SIG will put together a package of services specifically tailored to you, which is designed to maximize your draft position and earning potential and put you in the best position for long-term success.</p>

  <h2>WE WILL:</h2>

  <ul>
    <li>Provide the player with strength, agility and skills trainers to prepare them for the NBA Draft.</li>
    <li>rovide access to medical, physical therapy, massage as needed to support the player through this process.</li>
    <li>Provide the player with accommodation, transportation and a comfortable environment allowing them to focus primarily on the task at hand with minimal stress.</li>
    <li>Creating an individual strategic plan based on feedback from NBA personnel designed to showcase the player’s skill set and improve on any perceived limitations.</li>
    <li>Prepare and train the player for how to handle the workout period, interviews with teams, and media training.</li>
    <li>Scheduling interviews and individual workouts with NBA teams. Advocate for the player’s inclusion in the most appropriate combines, camps or tournaments for their individual situation.</li>
    <li>Promote the player in the lead-up to, and beyond the NBA Draft to ensure maximum exposure.</li>
    <li>Provide all media material for NBA teams as part of an individually tailored plan. This might include having video analysis undertaken and distributed, social media use, website creation, or written materials.</li>
  </ul>

  <h3 id="slogan">Taking you to the next level...</h3>
</main>
