<main class="team-member">
  <section class="image-container">
    <figure>
      <%= image_tag 'team/jonathan.jpg', alt: 'jonathan', class: 'grid-item-image' %>
    </figure>
  </section>

  <section class="description">
    <h1>Jonathan A. Jordan</h1>
    <h2 class="red uppercase">Director of Mens Basketball Operations and Corporate Counsel</h2>

    <p>Jonathan joined Sports International Group in April 2016 as a Fellow and, using his basketball experience and legal acumen, made an immediate impact. He joined SIG full-time in September of 2016 as the Director of Men's Basketball Operations and Corporate Counsel.</p>

    <br />
    
    <p>As Director of Men's Basketball Operations and Corporate Counsel, Jonathan is responsible for providing operational support to the Men’s Basketball Division using his Salary Cap and Collective Bargaining Agreement expertise. As Corporate Counsel, Jonathan is responsible for all legal matters across SIGs three divisions.</p>

    <br />
    
    <p>Before joining the SIG team, Jonathan interned and worked with the Washington Wizards, New Orleans Pelicans, National Basketball Retired Players Association, Kroenke Sports &amp; Entertainment, ESPN color commentator Stephen Howard, and Hottell Family Law Group in Fairfax, Virginia. In addition to his work experience in professional basketball, Jonathan is also a former high school and college athlete. He takes great pride in having coached the boys’ basketball team at his alma mater, the GW Community School in Springfield, Virginia.</p>

    <br />
    
    <p>Jonathan earned his Bachelors Degree in Business Management with a minor in Sports Management from Lynchburg College, and a Juris Doctorate from Tulane University Law School with a certificate in Sports Law. Jonathan is a member of the District of Columbia Bar Association.</p>
  </section>

</main>
