<main class="what-we-do">
  <h1>MARKETING &amp; PHILANTHROPY</h1>

  <h4>We offer the following services in our expanded global marketing sector:</h4>
  
  <ul>
    <li>Assistance with professional bio and portfolio</li>
    <li>Increase off-court opportunities</li>
    <li>Negotiate ‘staple’ deals to supplement player’s income (shoe deal, trading cards etc.)</li>
    <li>Partner with Public Relation firms to increase exposure</li>
    <li>Generate and promote individualized brand through endorsements</li>
    <li>Generate and promote individualized brand through sponsorships</li>
    <li>Assistance with website design</li>
    <li>Assistance with logo and business card profile</li>
    <li>Promote radio and television appearances</li>
    <li>Automobile deals and discounts</li>
    <li>Magazine promotions</li>
    <li>Entertainment interest</li>
    <li>Charity and philanthropy affiliations</li>
    <li>Camps and mini clinic implementation</li>
    <li>Networking opportunities with influential partners</li>
    <li>Project brainstorming</li>
    <li>Develop strategies that will be consistent with career development both during and after basketball</li>
    <li>Empower clients with the tools they need to get the results they want</li>
  </ul>
</main>