<main class="team-member">
  <section class="image-container">
    <figure>
      <%= image_tag 'team/michael.jpg', alt: 'michael', class: 'grid-item-image' %>
    </figure>
  </section>

  <section class="description">
    <h1>Michael Lelchitski</h1>
    <h2 class="red uppercase">VP | MEN'S BASKETBALL EXECUTIVE DIRECTOR</h2>

    <p>Michael Lelchitski joined Sports International Group in late 2008 as Men's Basketball Executive Director. This is actually Michael's third stint with SIG, however, as he previously completed two internships and served as a marketing associate. Michael and his father, President and company founder Boris Lelchitski, launched SIG Men's Basketball in 2009. Since the launch of the Men's Basketball division in 2009, SIG has successfully carved out a tremendous niche for itself in international men's basketball, especially in Russia, Ukraine and all the countries of the former Soviet Union.</p>

    <br />

    <p>As Men's Basketball Executive Director, Michael is excited to launch SIG into the male basketball industry. Working with SIG's well-established reputation and professional contacts, his primary roles include client recruiting, contract negotiation, and strategic guidance and management for SIG's male clients.  Michael is fully licensed by the NBA Players Association, becoming the only current Russian-American agent certified to represent players with NBA clubs.</p>

    <br />

    <p>Under Michael's direction, the Men's Basketball Division has followed the international roots of SIG, representing a wide-variety of players from North America, South America, Europe, Africa, Australia and Asia.</p>

    <br />

    <p>Before joining SIG full-time, Michael spent a year coaching basketball at Blue Ridge School — a nationally ranked preparatory school program in St. George, Virginia.</p>

    <br />

    <p>Michael earned his Bachelor's Degree in History and International Studies from Sewanee: The University of the South, where he played linebacker for the Tigers football team.</p>
  </section>
</main>
