<main class="team-member">
  <section class="image-container">
    <figure>
      <%= image_tag 'team/sammy.jpg', alt: 'sammy', class: 'grid-item-image' %>
    </figure>
  </section>

  <section class="description">
    <h1>Sammy Wloszczowski</h1>
    <h2 class="red uppercase">DIRECTOR, AUSTRALASIA REGION &amp; CAREER DEVELOPMENT</h2>

    <p>Sammy joined Sports International Group in early 2012 after moving from Melbourne, Australia, where he has held a variety of roles across the Australian sporting landscape. Sammy has worked in athlete development and welfare across over a dozen professional and Olympic sporting teams.</p>

    <br />

    <p>After completing a Bachelor's Degree in Commerce/Sports Management, Sammy went on to work at an array of sporting clubs and institutions, including as the Player Development Manager for a professional Australian Rules Football club, and the Athlete Career and Education Advisor at the prestigious Victorian and New South Wales Institutes of Sport.</p>

    <br />

    <p>With a focus and expertise in athlete career development, personal well-being and life balance, Sammy has previously and currently continues to represent several of the finest Australian athletes across multiple sports, including national team members, Olympic gold medallists, Commonwealth Games medallists, and both male and female Olympic basketballers. He possesses FIBA management credentials and a sound understanding of the Australian sporting culture and lifestyle, and subsequently will be coordinating all Australasian programs for Sports International Group, while working to support the career development of SIG clients in their ambitions above and beyond basketball.</p>

    <br />

    <p>He brings to SIG his proven track record of supporting elite-level athletes to achieve their potential both within and beyond their sporting realm.</p>
 
  </section>

</main>
