<main>
  <div class="col-md-offset-1 col-md-2">
    <ul>
      <li>
        <%= image_tag 'img_boris.jpg', alt: 'Boris', class: 'grid-item-image' %>
        <h2>Boris</h2>
        <h3>Position</h3>
      </li>
    </ul>
  </div>
</main>