<main class="what-we-do">  
  <h1>PROFESSIONAL TRAINING</h1>

  <p>Professional basketball is a rigorous, physical and extremely competitive business.</p>

  <p>Professional basketball players are progressively becoming more and more athletic, stronger and talented.</p>

  <p>Each year, the NBA and international leagues become more and more challenging and exciting.</p>

  <p>Therefore, it is of the utmost importance that players continuously prepare themselves both physically and mentally. A player’s offseason is critical to his success in the league they compete in. SIG works to make sure that our clients have access to the top basketball and physical trainers, in the best possible facilities.</p>

  <p>SIG puts together position-specific camps and training sessions, run by some of the best coaches and trainers in the business. During these training sessions, whether they are individual or with a small group, SIG clients will benefit from hands-on coaching and evaluation, and will be pushed hard to improve their games. They will find themselves turning their weaknesses into strengths, and they will be ready to come to training camp with improved knowledge, skill and work ethic. SIG clients pride themselves on always being ready – be it for a workout, combine, NBA Summer League or the NBA regular season and playoffs.</p>

  <p>Training is a vital part of a professional athlete, and SIG’s clients train with the very best.</p>

  <h3 id="slogan">Taking you to the next level...</h3>
</main>
