<main>
  <section id="about">
    <h1>About Us</h1>
    <article>
      <p>The mission of Sports International Group is to provide our clients with the opportunity to excel throughout their career by serving their needs both on and off the court.</p>

      <p>We are a family company that believes in hard work, dedication, communication and integrity, and providing the very best quality of service.</p>
    </article>
    <p id="slogan">Taking you to the next level...</p>
  </section>
</main>