<main class="team-member">
  <section class="image-container">
    <figure>
      <%= image_tag 'img_boris.jpg', alt: 'Boris', class: 'grid-item-image' %>
    </figure>
  </section>

  <section class="description">
    <h1>Boris Lelchitski</h1>
    <h2 class="red uppercase">FOUNDER &amp; CEO</h2>

    <p>With over thirty years of experience in the sports industry, Boris Lelchitski has established himself as one of the top sports agents in the world. In 1996, Boris founded Sports International Group, and has since managed the careers of numerous high-profile professional basketball players and coaches.</p>

    <br />

    <p>Since 2006, Boris has developed SIG into one of the most respected and dynamic agencies in the professional basketball world.  Specializing in women’s basketball, Boris client list now includes some of the top athletes in the sport. SIG represents over 30 players in the WNBA, including WNBA Champions, Most Valuable Players, All-Stars and Rookies of the Year. Internationally, SIG represents numerous high-profile clients who have won European Championships, Olympic Medals, World Championship Medals as well as Euroleague and Eurocup Club championships.</p>

    <br />

    <p>Boris has developed an incredible reputation in the professional basketball world through his dedication and high level of integrity, as well as the results he gets for his clients. No other agency can come close to the amount of success that SIG has had over the last 15 years. SIGs clients consistently receive top-dollar contracts and are provided with a personal service that is unmatched in the industry. This combination is why SIGs clients are the happiest and most successful in the business. Boris has negotiated record-setting contracts for women’s basketball players and SIG’s women’s basketball clients consistently earn a combined average of over $15million per season. These proven results are what separate Boris from the competition and place him in an elite category.</p>

    <br />

    <p>Prior to founding SIG, Boris spent the majority of his career coaching in Russia and the United States. While in Russia, he was the head coach of Spartak, St. Petersburg for eleven years. During that span, Spartak was a major competitor in the Euroleague. After coming to the United States, Boris spent three years as Head Women’s Basketball Coach at Heathwood Hall Academy, and five years coaching AAU Basketball in Columbia, South Carolina. During his coaching career, Boris won over 500 games and numerous conference and state championships on the amateur and pro levels.</p>

    <br />

    <p>Boris holds a Master’s Degree in Basketball Coaching from Lesgaft Academy of Physical Education in St. Petersburg, Russia and an associate’s degree in Sports Administration from the University of South Carolina.</p>
 
  </section>

</main>
