<main class="what-we-do">
  <h1>CAREER DEVELOPMENT</h1>

  <p>PROFESSIONAL BASKETBALL PLAYERS HAVE A LIMITED TIMEFRAME WITH WHICH THEY CAN COMPETE AT THE HIGHEST LEVELS AND EARN A COMMENSURATE SALARY. SPORTS INTERNATIONAL GROUP SUPPORTS OUR PLAYERS IN PREPARING FOR LIFE AFTER BASKETBALL, HAVING HIRED AUSTRALIAN CAREER DEVELOPMENT AND TRANSITION EXPERT SAM WLOSZCZOWSKI TO ASSIST WITH THIS PROCESS.</p>

  <h2>YOU WILL:</h2>
  <ul>
    <li>Be provided with opportunities to maximize your networking opportunities</li>
    <li>Have your off-court business interests supported</li>
    <li>Have your off-court charitable interests supported, including whereby players wish to begin a foundation of their own</li>
    <li>Be linked with mentors in fields of interest</li>
    <li>Be supported with your transition into life after basketball</li>
    <li>Be supported with coaching, training, broadcasting opportunities after competing.</li>
    <li>Be able to work through a process to determine areas of interest beyond basketball</li>
    <li>Be supported with off-court partnership opportunities in areas of interest</li>
  </ul>

  <p id="slogan">Taking you to the next level...</p>
</main>
