<main class="team-member">
  <section class="image-container">
    <figure>
      <%= image_tag 'team/carolina.jpg', alt: 'carolina', class: 'grid-item-image' %>
    </figure>
  </section>

  <section class="description">
    <h1>Carolina Blanco</h1>
    <h2 class="red uppercase">EXECUTIVE DIRECTOR</h2>

    <p>No one else has a full time office executive who is an ex-athlete, but most important who is the master of organization, extremely detailed and exceptionally dedicated! Results Driven!</p>

    <br />

    <p>Her experience and expertise with travel details is of utmost importance to our clients and their overseas travel. If there is a problem, she is available to resolve it, three hundred sixty five days a year, twenty four hours a day seven days a week. Her experience and familiarity with giving priority to all of the intangibles that are important to our clients is a huge bonus! She negotiates everything from priority travel arrangements, to scheduling work outs.  There is nothing that you cannot ask her and nothing she will not give her all in order to accommodate the needs of all our clients.</p>

    <br />

    <p>In addition, Carolina makes it a point to personally know the players and what their likes and dislikes are.  Often taking time out of her day to schedule phone calls to touch base and share her experience and expertise with younger clients.  She is totally committed to getting the results desired by our clients.</p>

    <br />

    <p>Carolina has been a part of SIG since 2003, making SIG and its clients part of her family.  Her duties go far beyond anything that can be expressed in a brief paragraph; she is an invaluable part of SIG and its success.  There is no one else who has been doing it longer, or been doing it better.</p>

    <br />

    <p>Prior to SIG, Carolina was the Director of Women's Basketball at the University of Pittsburgh, where she was the liaison between the Athletic Department and the Women’s Basketball program. She oversaw day to day operations, budgeting, travel accommodations, and personnel support.  Carolina also served as a Media intern for the Washington Mystics.</p>

    <br />

    <p>Carolina holds a bachelor’s degree in Psychology with a minor in Communication from Duquesne University.</p>
  </section>

</main>
