<main class="what-we-do">
  <h1>PERSONAL MANAGEMENT</h1>

  <p>The purpose of SIG’s full-service approach to representing athletes is to make it so that our clients are completely taken care of off the court. One of the services that is offered by SIG is management of clients’ personal affairs, should they want it.</p>

  <p>Our personal management service:</p>
  <dl>
    <dt>Mail Forwarding</dt>
    <dd>SIG can serve as the client’s "home base" receiving all packages and mail.</dd>

    <dt>Endorsement Orders</dt>
    <dd>SIG arranges for all products provided by endorsement contracts to be delivered to the location that is best for the client.</dd>

    <dt>Travel Arrangements</dt>
    <dd>SIG will coordinate all travel arrangements for the client, pertaining to contractual duties in the United States and abroad, assisting family and friends as well.</dd>

    <dt>Passport and Visas</dt>
    <dd>SIG will assist the client and their family members in obtaining US Passports and/or Visas for travel abroad.</dd>

    <dt>Banking and Checking Management</dt>
    <dd>SIG will assist the client by taking care of their bill pay and banking needs.</dd>
  </dl>

  <p id="slogan">Taking you to the next level...</p>  
</main>
