<main class="what-we-do">
  <h1>PROFESSIONAL MANAGEMENT</h1>

  <p>SIG IS A FULL-SERVICE BASKETBALL AGENCY. WE OFFER OUR CLIENTS A COMPLETE PACKAGE OF SERVICES IN ORDER TO MAXIMIZE THEIR EARNING POTENTIAL, NOT JUST SIMPLY NEGOTIATING THEIR CONTRACTS. HOWEVER, THE MOST IMPORTANT FUNCTION THAT SIG PROVIDES IS TO HELP MANAGE OUR CLIENTS' PROFESSIONAL BASKETBALL CAREER.</p>

  <h2>WNBA</h2>

  <p>For the players that are in the WNBA or attempting to be in the WNBA, partnering with SIG will maximize your opportunities. SIG has been representing players in the WNBA since the league’s inception. SIG’s contacts and reputation are second to none. Having a full understanding of the league and the value our clients bring to it, we insure that our clients receive the maximum compensation for their value. SIG will negotiate increases from one season to the next after their rookie contract is up, rewarding our clients for their hard work. SIG also has a great understanding of the dynamics of each team, coach and player, and works to find the best possible fit for each player. If there is ever a conflict of interest, no other agency has the track record of SIG in working with multiple teams to negotiate trade and transfers.</p>

  <h2>OVERSEAS</h2>

  <p>SIG’s roots are in international basketball, and our network and reputation in Europe and Asia is second to none. SIG has an incredible understanding of the functions and details of every top international league, most notably the Euroleague and Eurocup. We have a working relationship with every major team in the world and have represented players in every national league in Europe. SIG clients will be provided with the best representation possible in international basketball, and will have an experience of a lifetime by living abroad while playing. SIG will formulate a plan consistent with our client’s needs and wishes, and will work hard to find the ideal situation. Every year, the SIG staff spends months promoting its players, marketing their abilities, and unique skills they posses. After finding the proper team, in an environment conducive to the player’s needs, SIG will negotiate the best possible terms for employment. It is our goal to make sure our clients have a safe, comfortable, and profitable experience overseas.</p>

  <p id="slogan">Taking you to the next level...</p>  
</main>
