<main class="team-member">
  <section class="image-container">
    <figure>
      <%= image_tag 'team/ticha.jpg', alt: 'ticha', class: 'grid-item-image' %>
    </figure>
  </section>

  <section class="description">
    <h1>Ticha Penicheiro</h1>
    <h2 class="red uppercase">WNBA/FIBA CERTIFIED AGENT</h2>

    <p>Sports International Group, Inc., is very fortunate to have one of the best guards to have ever played the game on board as a WNBA/FIBA certified agent. Growing up in the small, beautiful country of Portugal, Patricia “Ticha” Penicheiro was introduced to basketball by her father and brother when she was just five years old. Immediately hooked on the sport, Ticha spent countless hours on the playground courts proving girls can play sports too. All the teasing and blocking she received as a female playing with her older and stronger male counterparts groomed her for what was to come, which was more than she could have ever imagined.</p>

    <br />

    <p>Before long, Ticha had developed the “American Dream” and decided she wanted to come to the United States and attend a university. After being offered a few full basketball scholarships, Ticha chose to attend Old Dominion University (ODU) in Norfolk, VA and in 1994 packed her bags and left her country, her family and her friends to follow her dream.</p>

    <br />

    <p>From 1994 through 1998, Ticha grew as a woman and a basketball player while helping to position ODU back to a place of national recognition as a Top 25 team for the majority of her college career. Seeing her dreams come true before her eyes, Ticha was considered one of the top players in the United States. By 1998, Ticha was a two-time Kodak All-American player and won the prestigious Wade Trophy Award. Inspired to work toward her next career milestone, Ticha followed along with the first season of the WNBA in 1997, ready to make her move.</p>

    <br />

    <p>Upon graduating ODU in 1998, she was quickly drafted as second pick overall and headed to Sacramento, CA to begin her career playing in the best women’s professional basketball league in the world. For the next 12 years, California became Ticha's home and before the Sacramento Monarchs folded in 2009, they were able to bring a WNBA championship to the city in 2005. Ticha's next career move was to former rivals, the Los Angeles Sparks where she played two seasons. Then in 2012, she joined the Chicago Sky for her 15th and last season in the WNBA.</p>

    <br />

    <p>Through it all, Ticha is most grateful for the amazing friends she made and has created lifetime memories. “Being European, I loved heading to Europe and continuing to get my passport stamped visiting so many different countries through basketball.”</p>

    <br />

    <p>Ticha had a stellar professional career. Looking back, Ticha has humbly exceeded her expectations in moving across the country from Portugal to America as a young woman. Under her belt are three different WNBA teams, four-time All Star, a first team All League a few times and was able to leave her mark as one of the best passers in the league. Following such a successful and adventurous career, Ticha has finally retired and decided to follow her heart and become a sports agent, “becoming a sports’ agent is something Ive always seen myself doing because it will keep me close to the game I love and I will be able to help players make a smoother transition to the professional basketball world”, Ticha said.</p>

    <br />

    <p>Overall, Ticha brings a depth of knowledge and experience that SIG clients will benefit from.</p>
  </section>

</main>
