<div id="sidebar">
  <header>
    <h1>
      <a href="football.html">
        <%= image_tag 'logo.png', alt: 'SIG Sports' %>
      </a>
    </h1>
  </header>
  <nav>
    <ul>
      <li><a href="about.html">Who We Are</a></li>
      <li><a href="team.html">What We Do</a></li>
      <li><a href="#">Clients</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>
  <footer>
    <ul class="social-media-icons">
      <li><a href="#" class="twitter">Twitter</a></li>
      <li><a href="#" class="youtube">Youtube</a></li>
    </ul>
    <ul>
      <li><a href="http://www.nfl.com" class="">NFL</a></li>
      <li>|</li>
      <li><a href="#" class="">AFL</a></li>
    </ul>

    <a href="#" class="uppercase red bold other-sports">Back To Other Sports</a>

    <p>&copy; SIG Sports</p>
  </footer>
</div>