<main id="homepage">
  <ul>
    <li>
      <a href="<%= womens_basketball_path %>" id="women" class="photo">
        <span>  
          Women's
          <br/>
          Basketball
        </span>
      </a>
    </li>
    <li>
      <a href="<%= mens_basketball_path %>" id="men" class="photo">
        <span>  
          Men's
          <br/>
          Basketball
        </span>
      </a>
    </li>
    <li>
      <a href="<%= football_path %>" id="football" class="photo">
        <span>  
          Football
        </span>
      </a>
    </li>

  </ul>

</main>