<main id="homepage">
  <ul>
    <li>
      <a href="<%= womens_basketball_path %>">
        Women's
        <br/>
        Basketball
      </a>
    </li>
    <li>
      <a href="<%= mens_basketball_path %>">
        Men's
        <br/>
        Basketball
      </a>
    </li>
    <li>
      <a href="<%= football_path %>">
        Football
      </a>
    </li>

  </ul>

</main>