<main class="what-we-do">
  <h1>CAREER DEVELOPMENT</h1>

  <h2>Combine &amp; NFL Draft Preparation</h2>

  <p>The scouting combine and the NFL Draft represent your entryway into the NFL. SIG will help you prepare both physically and mentally for the rigors of the workouts. We’ll match you with a special weight and speed training program to increase your performance. We’ll review and run down all the position drills so you’ll go in with the confidence of knowing exactly what’s expected. And we’ll schedule your team workouts so you’re always performing at your best.</p>

  <h2>Other SIG Services:</h2>
  <ul>
    <li>Preparation for team interviews</li>
    <li>Real estate acquisition and financing</li>
    <li>Assistance in obtaining a line of credit</li>
    <li>Individual estate and gift tax planning</li>
    <li>Bank account reconciliation and management</li>
    <li>Post sports career development</li>
  </ul>

  <h3 id="slogan">Taking you to the next level...</h3>
</main>
