<main class="team-member">
  <section class="image-container">
    <figure>
      <%= image_tag 'team/chad.jpg', alt: 'Chad', class: 'grid-item-image' %>
    </figure>
  </section>

  <section class="description">
    <h1>Chad E. Wiestling</h1>
    <h2 class="red uppercase">President of SIG Football</h2>

    <p>Recently being acquired and named President of SIG Football in May 2012, Chad comes to the company both highly recommended and respected in the industry by his peers with an incredible wealth of football intelligence.</p>

    <br />

    <p>He is a former captain of the University of Maryland football team where he earned his bachelors degree.  While attending graduate school, he coached at his alma mater for three NCAA seasons as a graduate assistant. After playing four seasons in the Arena Football League, Chad took his football knowledge to the National Football League where he worked in the front office of two NFL organizations.</p>

    <br />

    <p>Prior to arriving at SIG, Chad was a partner at a very successful sports agency, Integrated Sports Management, which was founded in 1996 with the focus solely on representing professional football players. He has represented players drafted in every round on the NFL draft and currently brings players such as Muhammad Wilkerson (1st Round), Tavon Wilson (2nd round), Julius Jones (2nd Round), Nolan Carroll (5th Round), and Moise Fokou (7th Round) to the company.</p>

    <br />

    <p>Chad is very excited about bringing his football experience to Sports International Group. He is also extremely proud of his achievements in recruiting and representing top quality men in all of the professional football leagues.</p>
 
  </section>

</main>
