<main class="what-we-do">
  <h1>Marketing Management</h1>

  <h2>Personality Marketing &amp; Endorsements</h2>

  <p>There's a difference between being a gifted athlete and a marketable personality. At SIG, we can help clients showcase their best "people skills." One way to do this is to encourage our clients to become involved in their communities. Another way is to retain speech or acting coaches for clients when necessary. Still another way is to retain publicists to maximize public exposure opportunities. All this may seem more "showbiz" than sports oriented, but the lines between the two worlds are very thin indeed.</p>

  <p>At SIG we are always on the lookout for marketing possibilities, from athletic apparel endorsements and other national advertising contracts to local appearances and community oriented activities. Our creative drive has led to many new opportunities for our clients and their friends and families.</p>

  <h3 id="slogan">Taking you to the next level...</h3>  
</main>
