<main class="what-we-do">
  <h1>PROFESSIONAL MANAGEMENT</h1>

  <p>The Sports International Group, Inc. football division is a full service management company. We are unique to the sports management world because our roots are an equal mixture of certified contract negotiation, personality marketing and endorsements, and all aspects of financial management. Our goal is to maximize your annual income and net worth as well as build your portfolio to insure financial security long after the conclusion of your career as a professional athlete. We strongly believe in putting our client’s needs above everything else. Our approach to client service is geared to ensure that you and your family will maintain a high quality of life long after your playing days are over.</p>

  <p>Your SIG team is built around you and your individual needs. Together, we’ll maximize your income and net worth and help you realize your goals. Uncle Sam can sometimes be an unwelcome relative. We’ll help you through the maze and maximize your liabilities. The scouting combine is your NFL job interview. We’ll get you ready both physically and mentally.</p>

  <h3 id="slogan">Taking you to the next level...</h3>  
</main>
