<main class="what-we-do">
  <h1>Wealth Development</h1>

  <h2>Contract Negotiations</h2>

  <p>When SIG sits down at the bargaining table with a future employer on your behalf, it's good to know you've got proven experience on your side. Experience that has made us one of the top sports management companies in the u.s. Experience that includes generating a signing bonus for a client that was the largest in the history of the NFL franchise with whom we were dealing.</p>

  <p>SIG has a solid knowledge of the NFL collective bargaining agreement. We perform extensive research on prior year contracts, the current rookie cap and the overall salary ceiling for each team. We are equipped with statistical and other data to negotiate the best possible contract on your behalf. And since SIG is home to both a certified public accountant and a certified contract negotiator, we are able to structure contracts that not only meet financial needs, but also minimize tax burden.</p>

  <h2>Business Management</h2>

  <p>Negotiating the best possible contract is only part of the picture. After the contract has been signed, your money needs to be administered properly. We educate our clients on how to live within their means, make smart investments and financially prepare for life after sports. Ultimately, you the client have full control over your finances. But since we have been serving clients for several years, we are experienced in the highs, lows, achievable goals and unrealistic expectations sudden wealth can mean.</p>

  <h2>Annual Tax Preparation</h2>

  <p>SIG has prepared hundreds of federal and state income tax returns for professional athletes. We're experts in preparing tax returns and our cost for this service is included in our fees for contract negotiation. In other words, there's no hidden charge for this service. Athletes frequently have distinct and complex financial issues and nobody knows how to untie and explain these issues better than SIG. It's also good to know that the people who do your taxes are the same people implementing and administering your financial plans.</p>

  <p>We supply each client with a monthly statement - a careful system of checks and balances to ensure your financial team is working together and that your interests are being well-served.</p>

  <h3 id="slogan">Taking you to the next level...</h3>
</main>
