<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>

<% if !!field %>
  <%= image_tag field.medium %>
  <%= f.file_field :photo %>
<% else %>
  <div class="field-unit__field">
    <%= f.file_field :photo %>
  </div>
<% end %>
