body {
  font: normal 14px "avenir-medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #1a1e24;
  color: #b3b8c3;
}

a {
  text-decoration: none;
}

a:hover {
  color: #b4111e;
}

.red {
  color: #b4111e;
}

.black {
  color: #0d0d0b;
}

.white {
  color: #fff;
}

.light-grey {
  color: #d0cfd1;
}

.medium {
  font-weight: 500;
}

.bold {
  font-family: "avenir-black";
}

.font-size-15 {
  font-size: 1.5em;
}

.uppercase {
  text-transform: uppercase;
}

main {
  overflow: hidden;
  margin: 0 0 0 300px;
  min-height: 100vh;
}

hr {
  border-color: #b3b8c3;
  margin: 20px;
}

.box {
  width: 100%;
  border: solid 1px #f6f7f8;
  box-shadow: 0 0 3px 0 rgba(246, 247, 248, .3);
  border-radius: 3px;
  box-sizing: border-box;
}

#slogan {
  padding: 20px 0;
  font-family: "avenir-heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #b4111e;
  text-transform: uppercase;
  letter-spacing: 2px;
}




