body {
  font: normal 14px "avenir-medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: #c40013;
}

.red {
  color: #c40013;
}

.black {
  color: #0d0d0b;
}

.white {
  color: #fff;
}

.light-grey {
  color: #d0cfd1;
}

.medium {
  font-weight: 500;
}

.bold {
  font-family: "avenir-black";
}

.font-size-15 {
  font-size: 1.5em;
}

.uppercase {
  text-transform: uppercase;
}

main {
  overflow: hidden;
  background: #45494d;
  color: #d0cfd1;
  margin: 0 0 0 300px;
  min-height: 100vh;
}