// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about {
  min-height: 100vh;
  padding: 17.5%;
  font-size: 24px;
  text-align: justify;
  box-sizing: border-box;
  font-family: "avenir-medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.25px;
}

#about h1 {
  padding: 0 0 10px 0;
  font-family: "avenir-black", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}

#about p {
  margin: 0 auto;
  padding: 20px 0;
  vertical-align: middle;
  line-height: 1.5;
}

#about .slogan {
  color: #c40013;
  letter-spacing: 2px;
}

.slogan {
  font-family: "avenir-heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  color: #c40013;
  text-transform: uppercase;
}

.what-we-do {
  min-height: 100vh;
  background: #25282e;
  padding: 5% 10%;
  font-size: 20px;
  text-align: justify;
  box-sizing: border-box;
  font-family: "avenir-medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.25px;
}

.what-we-do h1 {
  padding: 0 0 10px 0;
  font-family: "avenir-black", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
}

.what-we-do h2 {
  font-size: 28px;
  color: #c40013;
}

.what-we-do p {
  padding: 10px 0;
  letter-spacing: 1px;
}






