// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about, .what-we-do {
  min-height: 100vh;
  padding: 17.5%;
  text-align: justify;
  box-sizing: border-box;
  letter-spacing: 1.25px;
}

#about {
  font-size: 1.75em;  
}

.what-we-do {
  padding: 5% 10%;
  font-size: 1.5em;  
}

#about h1, .what-we-do h1  {
  padding: 20px 0;
  font-family: "avenir-black", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}

.what-we-do h2 {
  padding: 20px 0 0 0;
  font-family: "avenir-heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  color: #b4111e;
}

#about p, .what-we-do p, .what-we-do ul {
  margin: 0 auto;
  padding: 20px 0;
  line-height: 1.5;
}

.what-we-do ul {
  list-style-type: disc;
}







