#sidebar {
  float: left;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px 50px 30px 50px;
  background: #d0cfd1;
  width: 300px;
  min-height: 100%;
  box-sizing: border-box;
  z-index: 5;
}

#sidebar header h1 a {
  overflow: hidden;
  display: block;
  width: 200px;
  height: 130px;
  margin: 0 auto;
  background-size: cover;
}

#sidebar header h1 a img {
  width: 100%;
}

nav {
  padding: 75px 0;
  font-size: 1.5em;
  letter-spacing: 1.5px;
  font-family: "avenir-heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

nav li {
  display: block;
  padding: 0 0 20px 0;
  width: 100%;
  background: transparent;
}

.dropdown-menu li {
  padding: 0 0 5px 0;
}

#sidebar a {
  color: #555;
}

#sidebar .dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  letter-spacing: 1.5px;
  text-transform: none;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

#sidebar .dropdown-menu {
  padding: 20px 0 0 0;
}

#sidebar a {
  text-decoration: none;
}

#sidebar a:hover  {
  color: #c1272d;
  text-decoration: none;
  background: transparent;
}

#sidebar footer {
  text-align: center;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}

#sidebar footer ul {
  margin: 0 auto;
}

.social-media-icons li {
  display: inline-block;
  padding: 10px 11.5px;
}

.social-media-icons li a {
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background: #555;
}

.social-media-icons li a:hover {
  background: #d0cfd1;
  border: solid 2px #555;
  box-sizing: border-box;
  > i {
    color: #555;
  }
}

.social-media-icons li i {
  display: block;
  padding: 9px 8px;
  color: #d0cfd1;
}

.other-sports {
  display: block;
  padding: 5px 0 0 0;
}

#sidebar footer p {
  text-align: center;
  padding: 10px 0 0 0;
  display: block;
  margin: 0 auto;
  color: #555;
}

#sidebar:after {
  content: ' ';
  clear: both;
}

#sidebar footer .footer-links {
  display: inline-block;
  padding: 10px 2.5px;
  font-size: 1.25em;
}

#sidebar footer .footer-links, #sidebar footer .footer-links a {
  color: #555;
}

#sidebar footer .footer-links a:hover {
  color: #c1272d;
}

#responsive-burger {
  display: none;
  padding: 0 20px;
  float: left;
  font-size: 3em;
}

#responsive-burger::after {
  display: block;
  clear: both;
  content: '';
}

#responsive-burger a {
  color: #d0cfd1;
  text-decoration: none;
}

@media (max-width: 768px) {
  #sidebar {
    display: none;
  }

  header {
    height: 65px;
    padding: 5px 0 0 0;
  }

  main {
    margin-left: 0;
  }

  #responsive-burger {
    display: inline-block;
  }

}









