#sidebar {
  float: left;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px 50px 30px 50px;
  background: #d0cfd1;
  width: 300px;
  min-height: 100%;
  box-sizing: border-box;
}

#sidebar header h1 a {
  overflow: hidden;
  display: block;
  width: 200px;
  height: 130px;
  margin: 0 auto;
  background-size: cover;
}

#sidebar header h1 a img {
  width: 100%;
}

nav {
  padding: 100px 0;
  font-size: 1.5em;
  letter-spacing: 1.5px;
  font-family: "avenir-black", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav li {
  padding: 0 0 25px 0;
}

nav li a {
  color: #45494d;
}

#sidebar footer {
  text-align: center;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}

#sidebar footer ul {
  margin: 0 auto;
}

#sidebar footer li {
  display: inline-block;
  padding: 10px 5px;
}

#sidebar footer li a {
  display: block;
  color: #6d6f72;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #45494d;
}

#sidebar footer li a:hover {
  background: #d0cfd1;
  border: solid 2px #45494d;
  box-sizing: border-box;
  > i {
    color: #45494d;
  }
}

#sidebar footer li i {
  display: block;
  padding: 10px;
  color: #d0cfd1;
}

.other-sports {
  display: block;
  padding: 5px 0 0 0;
}

#sidebar footer p {
  text-align: center;
  padding: 10px 0 0 0;
  display: block;
  margin: 0 auto;
  color: #45494d;
}

#sidebar:after {
  content: ' ';
  clear: both;
}