// Place all the styles related to the sports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filter-header {
  font-size: 1.5em;
  padding: 20px 20px 10px 20px;
  vertical-align: middle;
  opacity: .9;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.filter-header:after {
  clear: both;
  content: "";
  display: block;
}

.filter-link {
  opacity: 1;
  color: #d0cfd1;
}

.left-filter {
  text-align: left;
  display: inline-block;
  padding: 10px 0;
}

.right-filter {
  float: right;
  display: inline-block;
  padding: 10px 0;
}

.left-filter li, .right-filter li {
  display: inline;
  padding: 0 10px;
}

.column {
  width: 33.33%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

.column-header {
  margin-top: 0;
  padding: 10px 0;
  color: #d0cfd1;
  font-family: "avenir-medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.5em;
}

.athlete-list-item {
  padding: 5px 0;
}

.athlete-list-name {
  display: inline-block;
  margin-top: 0;
  padding: 10px 3px;
  font-family: "avenir-medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
}

.athlete-list-name a {
  color: #fff;
}

.grid {
  display: block;
  max-width: 100%;
  height: 100%;
  min-height: 100vh;
  zoom: 1;
  box-sizing: border-box;
}

.grid:before,.grid:after {
  content: ' ';
  display: table;
  box-sizing: border-box;
}

.grid:after {
  clear: both;
}

.grid-item {
  overflow: hidden;
  position: relative;
  float: left;
  height: 50%;
  width: 33.3333%;
  box-sizing: border-box;
}

.grid-item-image {
  min-width: 400px;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  transition: all .3s ease-in-out;
  vertical-align: middle;
}

.grid-item-view {
  display: block;
  padding: 25px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 13, 11, .75);
  opacity: 0;
  transition: all .4s ease-in-out;
  box-sizing: border-box;
} 

.grid-item:hover > .grid-item-view {
  opacity: 1;
} 

.grid-item-view-title {
  margin-top: 0;
  padding: 0 0 10px 0;
  color: #fff;
  font-family: "avenir-black", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2.25em;
}

.grid-item-view-list {
  color: #fff;
  font-weight: 500;
  font-size: 1.25em;
}

.grid-item-view-list li {
  padding: 5px 0;
}

.grid-item-view-button {
  display: inline-block;
  padding: 8px 16px;
  margin: 10px auto;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  background: none;
  transition: all .3s ease-in-out;
}

.grid-item-view-button:hover, .grid-item-view-button:focus {
  text-decoration: none;
  color: #0d0d0b;
  background: #fff;
}

.slogan-footer:before {
  display: block;
  clear: both;
  content: '';
}

.slogan-footer {
  position: relative;
  bottom: 0;
  margin: 0 0 0 300px;
  padding: 10px 30px;
}

#featured {
  position: fixed;
  top: 0;
  right: 0;
  left: 300px;
  bottom: 0;
}

.item {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.featured-img {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-25%, -25%);
  min-width: 100%;
  min-height: 100vh;
}


.news-section {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;  
  padding: 20px;
  border-left: solid 5px #d0cfd1;
  background: #0d0d0b;
  box-sizing: border-box;
}

.news-section a {
  display: block;
  margin: 0 0 20px 0;
}

.news-section a:hover {
  background: #c1272d;
  & h3 {
    color: #fff;
  }
}

.news-section h2 {
  padding: 20px 0;
  font-family: "avenir-heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.75em;
  line-height: 120%;
  text-transform: uppercase;
}

.news-section h3 {
  padding: 10px 10px 5px 10px;
  font-size: 1.1em;
  text-transform: uppercase;
  line-height: 140%;
}

.news-section h4 {
  padding: 0 10px 10px 10px;
  color: #d0cfd1;
}

@media (max-width: 1835px) {
  .grid-item { 
    width: 25%;
  }
}

@media (max-width: 1535px) {
  .grid-item { 
    width: 33.33333333%;
  }
}

@media (max-width: 1135px) {
  .grid-item { 
    width: 50%;
  }
  .column {
    width: 100%;
    float: left;
  }
  .athlete-list-item {
    text-align: center;
  }
}

@media (max-width: 1250px) {
  main #team li {
  }
}

@media (max-width: 935px) {
  main li { 
  }
}

@media (max-width: 768px) {
  #featured {
    top: 60px;
    left: 0;

  }

  .news-section {
    margin-top: 60px;
    position: absolute;
    top: 100vh;
    height: 800px;
    float: left;
    width: 100%;
  }

  .filter-header {
    padding: 0;
  }

  .filter-header .right-filter {
    width: 100%;
  }

  .right-filter li {
    display: inline-block;
    width: 48%;
    padding: 0 0 10px 0;
    text-align: center;
  }
}
