// Place all the styles related to the TeamMembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#team  {
  display: block;
  min-height: 100vh;
  height: 100vh;
}

#team ul {
  display: block;
  width: 100%;
  position: relative;
  top: 25%;
  padding: 0 0 0 1%;
}

#team li {
  float: left;
  overflow: hidden;
  min-width: 150px;
  width: 24.75%;
  max-width: 450px;
  padding: 0 1% 0 0;
}

#team li:nth-of-type(4n) {
  padding-right: 0%;
}

#team img {
  min-width: 100px;
  max-width: 100%;
}

#team a {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-family: "avenir-heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#team a:hover > figure {
  border: solid 3px #c1272d;
  border-radius: 3px;
}

#team h2 {
  padding: 20px 5px 5px 5px;
  font-size: 1.5em;
}

#team h3 {
  padding: 5px;
  font-size: 1.25em;
}

#team ul footer {
  display: inline-block;
  width: 120px;
  position: relative;
  left: 50%;
  margin-left: -60px;
}

#team ul footer .team-social-media-icons li {
  display: inline-block;
  min-width: 30px;
}

#team ul footer .team-social-media-icons li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #d0cfd1;
  border: solid 2px #d0cfd1;
}

#team ul footer .team-social-media-icons li i {
  padding: 4px 5px;
  font-size: 20px;
  color: #0d0d0b;
}

#team ul footer .team-social-media-icons li a:hover {
  background: #0d0d0b;
  border: solid 2px #d0cfd1;
  > i {
    color: #d0cfd1;
  }
}




