// Place all the styles related to the TeamMembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#team  {
  display: block;
  min-height: 100vh;
  height: 100vh;
}

#team ul {
  display: block;
  width: 100%;
  position: relative;
  top: 25%;
  padding: 0 0 0 2%;
}

#team li {
  float: left;
  overflow: hidden;
  min-width: 150px;
  max-width: 450px;
  padding: 0 1% 0 0;
}

#team.womens-basketball li {
  width: 19.75%;
}

#team.mens-basketball li {
  width: 24.75%;
}

#team.football ul {
  padding: 0 16.6% 0 16.6%;
}

#team.football li {
  width: 49%;
  padding: 0 2% 0 0;
}

#team img {
  min-width: 100px;
  max-width: 100%;
}

#team a {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-family: "avenir-heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#team a:hover > figure {
  border: solid 3px #c1272d;
  border-radius: 3px;
}

#team h2 {
  padding: 20px 5px 5px 5px;
  font-size: 1.5em;
}

#team h3 {
  padding: 5px;
  font-size: 1.25em;
}

#team ul footer {
  display: inline-block;
  width: 120px;
  position: relative;
  left: 50%;
  margin-left: -60px;
}

#team ul footer .team-social-media-icons li {
  display: inline-block;
  width: 30px;
  box-sizing: border-box;
}

.team-social-media-icons .one-icon {
  position: relative;
  left: 50%;
  margin-left: -15px;
}

.team-social-media-icons .first-of-two-icons {
  position: absolute;
  left: 50%;
  margin-left: -37.5px;
}

.team-social-media-icons .second-of-two-icons {
  position: relative;
  left: 50%;
  margin-right: -37.5px;
}

.team-social-media-icons .first-of-three-icons {
  position: absolute;
  left: 33.3%;
  margin-left: -30px;
}

.team-social-media-icons .second-of-three-icons {
  position: absolute;
  left: 50%;
  margin-left: -15px;
}

.team-social-media-icons .third-of-three-icons {
  position: relative;
  left: 66.7%;
  margin-right: -45px;
}

#team ul footer .team-social-media-icons li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #d0cfd1;
  border: solid 2px #d0cfd1;
}

#team ul footer .team-social-media-icons li i {
  padding: 4px 5px;
  color: #0d0d0b;
}

#team ul footer .team-social-media-icons li i.email {
  font-size: 18px;
}

#team ul footer .team-social-media-icons li i.twitter {
  font-size: 20px;
}

#team ul footer .team-social-media-icons li i.facebook {
  padding: 5px;
  font-size: 18px;
}

#team ul footer .team-social-media-icons li a:hover {
  background: #0d0d0b;
  border: solid 2px #d0cfd1;
  > i {
    color: #d0cfd1;
  }
}

.team-member .image-container {
  float: left;
  width: 450px;
  padding: 50px 0 50px 50px;
  box-sizing: border-box;
}

.team-member .image-container figure {
  overflow: hidden;
}

.team-member .image-container figure img {
  width: 100%;
}

.team-member .description {
  overflow: hidden;
  padding: 50px;
}

.team-member h1 {
  padding: 0 0 25px 0;
  font-size: 2em;
}

.team-member h2 {
  padding: 0 0 25px 0;
  font-size: 2.5em;
  font-weight: 600;
}

.team-member .description p {
  font-size: 1.25em;
  line-height: 1.5;
}
