// Place all the styles related to the Testimonials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#testimonials h3 {
  padding: 0 0 10px 0;
  font-family: "avenir-heavy";
  font-size: 1.25em;
  color: #d0cfd1;
}

.testimonial-description {
  font-family: "avenir-book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 1.25em;
  text-align: justify;
}